
body {
  margin: 0;
    background-color:#f1f1f1;
}

.header {
  /* border: 2px solid black; */
  border-radius: 5px;
  /* background-color: white; */
  /* font-size: 35px; */
  overflow: hidden;
}

.biz-name {
  height: 70px;
  font-size: 20px;
  background-color: grey;
  text-align: left;
  margin-bottom: 5px;

}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 25%;
    background-color: lightblue;
    position: fixed;
    height: 70%;
    overflow: auto;
}

li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}

li a.active {
    background-color: #4CAF50;
    color: white;
}

 li a:hover:not(.active) {
    background-color: #555;
    color: white;
}

.navigation {
  margin-left: 40%;
  /* text-align: center; */
}

.makeSearch {
 margin-left: 40%;
 margin:auto;
 max-width:300px
}



form.makeSearch input[type=text] {
     padding: 10px;
     font-size: 10px;
     border: 1px solid black;
     float: left;
     /* width: 80%; */
     background: white;
 }

 form.makeSearch button {
     float: none;
     width: 2%;
     padding: 10px;
     background: purple;
     color: white;
     font-size: 16px;
     border: 1px solid black;
     border-left: none;
     cursor: pointer;
 }

 form.makeSearch button:hover {
     background: #0b7dda;
 }

 form.makeSearch::after {
     content: "";
     clear: both;
     display: table;
 }

 .signIn {
   background-color: white;
   padding: 8px;
   margin-top: 20px;
   margin-left: 30%;
   width: 60%;
   height:300px;
   border: 2px solid black;
   border-radius:8px;
 }

 .signIn p {
   text-align: center;
 }

table {
  padding: 10% 0 0;
  margin:auto;
  border-collapse: collapse;
   width: 100%;
}

th, td {

  padding: 8px;
  text-align: left;
  border: 1px solid black;
}

tr:hover {background-color:#f5f5f5;}


footer {
  padding-top: 10px;
  margin-top: 20px;
  height: 50px;
  background-color:white;
  text-align: center;
  /* border: 2px solid black; */
}
